﻿
<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form class="toc-filter">
        <span class="glyphicon glyphicon-filter filter-icon"></span>
        <span class="glyphicon glyphicon-remove clear-icon" id="toc_filter_clear"></span>
        <input type="text" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
          
          <ul class="nav level1">
                <li>
                    <span class="expand-stub"></span>
                    <a href="SmartTale.Framework.Storage.Runtime.html" name="" title="SmartTale.Framework.Storage.Runtime">SmartTale.Framework.Storage.Runtime</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.DeleteRequest.html" name="" title="DeleteRequest">DeleteRequest</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.DeleteRequestStandalone.html" name="" title="DeleteRequestStandalone">DeleteRequestStandalone</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.FindRequest.html" name="" title="FindRequest">FindRequest</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.FindRequestStandalone.html" name="" title="FindRequestStandalone">FindRequestStandalone</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.ILocalStorageEntity.html" name="" title="ILocalStorageEntity">ILocalStorageEntity</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.InvalidNameException.html" name="" title="InvalidNameException">InvalidNameException</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.InvalidPathException.html" name="" title="InvalidPathException">InvalidPathException</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.ISaveStorageEntity.html" name="" title="ISaveStorageEntity">ISaveStorageEntity</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.IStorageReader.html" name="" title="IStorageReader">IStorageReader</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.IStorageUserInfo.html" name="" title="IStorageUserInfo">IStorageUserInfo</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.IStorageUtils.html" name="" title="IStorageUtils">IStorageUtils</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.IStorageWriter.html" name="" title="IStorageWriter">IStorageWriter</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.ITemporaryStorageEntity.html" name="" title="ITemporaryStorageEntity">ITemporaryStorageEntity</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.OutOfSpaceException.html" name="" title="OutOfSpaceException">OutOfSpaceException</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.Storage.html" name="" title="Storage">Storage</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.StorageEntity.html" name="" title="StorageEntity">StorageEntity</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.StorageEntityStandalone.html" name="" title="StorageEntityStandalone">StorageEntityStandalone</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.StorageException.html" name="" title="StorageException">StorageException</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.StorageFactory.html" name="" title="StorageFactory">StorageFactory</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.StorageNotInitializedException.html" name="" title="StorageNotInitializedException">StorageNotInitializedException</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.StorageReaderStandalone.html" name="" title="StorageReaderStandalone">StorageReaderStandalone</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.StorageType.html" name="" title="StorageType">StorageType</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.StorageUserInfoStandalone.html" name="" title="StorageUserInfoStandalone">StorageUserInfoStandalone</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.StorageUtilsStandalone.html" name="" title="StorageUtilsStandalone">StorageUtilsStandalone</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.StorageWriterStandalone.html" name="" title="StorageWriterStandalone">StorageWriterStandalone</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.UserCancelException.html" name="" title="UserCancelException">UserCancelException</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="SmartTale.Framework.Storage.Runtime.Tests.html" name="" title="SmartTale.Framework.Storage.Runtime.Tests">SmartTale.Framework.Storage.Runtime.Tests</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="SmartTale.Framework.Storage.Runtime.Tests.StorageTests.html" name="" title="StorageTests">StorageTests</a>
                          </li>
                    </ul>
                </li>
          </ul>
      </div>
    </div>
  </div>
</div>