﻿
<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form class="toc-filter">
        <span class="glyphicon glyphicon-filter filter-icon"></span>
        <span class="glyphicon glyphicon-remove clear-icon" id="toc_filter_clear"></span>
        <input type="text" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
          
          <ul class="nav level1">
                <li>
                    <a href="manual/index.html" name="manual/toc.html" title="Manual">Manual</a>
                </li>
                <li>
                    <a href="api/SmartTale.Framework.Storage.Runtime.html" name="api/toc.html" title="Scripting API">Scripting API</a>
                </li>
          </ul>
      </div>
    </div>
  </div>
</div>