﻿
<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form class="toc-filter">
        <span class="glyphicon glyphicon-filter filter-icon"></span>
        <span class="glyphicon glyphicon-remove clear-icon" id="toc_filter_clear"></span>
        <input type="text" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
          
          <ul class="nav level1">
                <li>
                    <span class="expand-stub"></span>
                    <a href="SmartTale.Framework.Controls.html" name="" title="SmartTale.Framework.Controls">SmartTale.Framework.Controls</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="SmartTale.Framework.Controls.IActionHandler.html" name="" title="IActionHandler">IActionHandler</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.IAxisHandler.html" name="" title="IAxisHandler">IAxisHandler</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.ICursorPositionHandler.html" name="" title="ICursorPositionHandler">ICursorPositionHandler</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.IFourActionsHandler.html" name="" title="IFourActionsHandler">IFourActionsHandler</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.IFourAxesHandler.html" name="" title="IFourAxesHandler">IFourAxesHandler</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.IPositionMovementConstraints.html" name="" title="IPositionMovementConstraints">IPositionMovementConstraints</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.ITwoActionsHandler.html" name="" title="ITwoActionsHandler">ITwoActionsHandler</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.ITwoAxesHandler.html" name="" title="ITwoAxesHandler">ITwoAxesHandler</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.ITwoAxesMovementHandler.html" name="" title="ITwoAxesMovementHandler">ITwoAxesMovementHandler</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.MovementHandler.html" name="" title="MovementHandler">MovementHandler</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.RigidbodyMovementConstraints.html" name="" title="RigidbodyMovementConstraints">RigidbodyMovementConstraints</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.RigidbodyMovementHandler.html" name="" title="RigidbodyMovementHandler">RigidbodyMovementHandler</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.RigidbodyMovementHandler.MovementTargetType.html" name="" title="RigidbodyMovementHandler.MovementTargetType">RigidbodyMovementHandler.MovementTargetType</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.RigidbodyScreenConstraints.html" name="" title="RigidbodyScreenConstraints">RigidbodyScreenConstraints</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.RigidbodyScreenSpaceMovementHandler.html" name="" title="RigidbodyScreenSpaceMovementHandler">RigidbodyScreenSpaceMovementHandler</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.RigidbodyTwoAxesMovementHandler.html" name="" title="RigidbodyTwoAxesMovementHandler">RigidbodyTwoAxesMovementHandler</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.TransformMovementConstraints.html" name="" title="TransformMovementConstraints">TransformMovementConstraints</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.TransformMovementHandler.html" name="" title="TransformMovementHandler">TransformMovementHandler</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.TransformMovementHandler.MovementTargetType.html" name="" title="TransformMovementHandler.MovementTargetType">TransformMovementHandler.MovementTargetType</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.TransformScreenConstraints.html" name="" title="TransformScreenConstraints">TransformScreenConstraints</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.TransformScreenSpaceMovementHandler.html" name="" title="TransformScreenSpaceMovementHandler">TransformScreenSpaceMovementHandler</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.TransformTwoAxesMovementHandler.html" name="" title="TransformTwoAxesMovementHandler">TransformTwoAxesMovementHandler</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="SmartTale.Framework.Controls.InputIcons.html" name="" title="SmartTale.Framework.Controls.InputIcons">SmartTale.Framework.Controls.InputIcons</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="SmartTale.Framework.Controls.InputIcons.InputIconHandlerBase.html" name="" title="InputIconHandlerBase">InputIconHandlerBase</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.InputIcons.InputIconHandlerStandalone.html" name="" title="InputIconHandlerStandalone">InputIconHandlerStandalone</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.InputIcons.InputIconHandlerSwitch.html" name="" title="InputIconHandlerSwitch">InputIconHandlerSwitch</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.InputIcons.InputIconMap.html" name="" title="InputIconMap">InputIconMap</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.InputIcons.InputIconMapBase-2.html" name="" title="InputIconMapBase&lt;T, V&gt;">InputIconMapBase&lt;T, V&gt;</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.InputIcons.InputIconMapFactory.html" name="" title="InputIconMapFactory">InputIconMapFactory</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.InputIcons.InputIconMapKeyboard.html" name="" title="InputIconMapKeyboard">InputIconMapKeyboard</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.InputIcons.InputIconPlayerEventsHandler.html" name="" title="InputIconPlayerEventsHandler">InputIconPlayerEventsHandler</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.InputIcons.InputIconPrefabBase.html" name="" title="InputIconPrefabBase">InputIconPrefabBase</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.InputIcons.InputIconPrefabImage.html" name="" title="InputIconPrefabImage">InputIconPrefabImage</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.InputIcons.InputIconPrefabSpriteRenderer.html" name="" title="InputIconPrefabSpriteRenderer">InputIconPrefabSpriteRenderer</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.InputIcons.InputIconPrefabText.html" name="" title="InputIconPrefabText">InputIconPrefabText</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.InputIcons.InputIconSpawner.html" name="" title="InputIconSpawner">InputIconSpawner</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.InputIcons.InputIconSpawner.DynamicIntRange.html" name="" title="InputIconSpawner.DynamicIntRange">InputIconSpawner.DynamicIntRange</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.InputIcons.InputIconSpawner.PlayerFollowType.html" name="" title="InputIconSpawner.PlayerFollowType">InputIconSpawner.PlayerFollowType</a>
                          </li>
                          <li>
                              <a href="SmartTale.Framework.Controls.InputIcons.InputIconSpawner.SpawnType.html" name="" title="InputIconSpawner.SpawnType">InputIconSpawner.SpawnType</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="SmartTale.Framework.Controls.InputSystem.html" name="" title="SmartTale.Framework.Controls.InputSystem">SmartTale.Framework.Controls.InputSystem</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="SmartTale.Framework.Controls.InputSystem.InputControlFixedAttribute.html" name="" title="InputControlFixedAttribute">InputControlFixedAttribute</a>
                          </li>
                    </ul>
                </li>
          </ul>
      </div>
    </div>
  </div>
</div>